/* This is a single-line comment */
input{
    margin-bottom: 15px;
    padding:10px;
    width:100%;
    box-sizing: border-box;
    border-radius: 5px;
    height:50px;
    border:0px;
    font-family: georgia;
    font-size: 11pt;
    text-align: center;
}
ul
{
  list-style-type: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.chat-popup {
  display: none;
  border: 3px solid #f1f1f1;
}
